{% extends 'interface/home.twig' %}
{% block content %}

{% include 'error/error.twig' %}
{% include 'flash/flash.twig' %}

<div class="col-md-12">

<div id="calendar"></div>

</div>

{% include 'interface/libraryjs.twig' %}

<script>
$(document).ready(function() {

  $('#calendar').fullCalendar({
    eventClick: function(calEvent, jsEvent, view) {
      window.location.href = "{{path_for('home.agendamento.edit', {id:calEvent.id})}}" + calEvent.id;
    },
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,agendaWeek,agendaDay,listWeek'
    },
    defaultDate: '{{ "now"|date("Y/m/d") }}',
    locale: 'pt-br',
    navLinks: true,
    editable: true,
    eventLimit: true,
    eventStartEditable: false,
    eventDurationEditable: false,
    events: [
      {% for agendamento in agendamentos %}
      {

        id: '{{agendamento.id}}',
        title: '{{agendamento.idusuario.email}}',
        start: '{{agendamento.periodoinicial.date}}',
        end: '{{agendamento.periodofinal.date}}'
      },
      {% endfor %}
    ]
  });

});

</script>

{% endblock %}
