{% extends 'interface/home.twig' %}
{% block content %}

{% include 'error/error.twig' %}
{% include 'flash/flash.twig' %}
<a class="btn btn-warning" href="{{path_for('home.index')}}">Voltar</a>
<div class="col-md-6 offset-md-3">

  <div style="margin-bottom:5%;">
  <a class="btn btn-primary" href="{{path_for('home.salas.create')}}">Adicionar Sala</a>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Número da Sala</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for sala in salas %}
      <tr>
        <td>{{sala.numero}}</td>
        <td>
          <a class="btn btn-primary" href="{{path_for('home.salas.edit', {id: sala.id} )}}">Editar</a>
          <a class="btn btn-danger" href="{{path_for('home.salas.destroy', {id: sala.id} )}}">Remover</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}
